html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
}

header {
  margin-bottom: 70px;
}

section {
  width: 100%;
  margin: 0 auto;
}

.servicesblack {
  padding-bottom: 1px;
  background-color: #121212;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 23px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    display: inline-block;
    margin-left: 60px;
  }

  nav a {
    text-decoration: none;
    line-height: 21.42px;
    color: black;
  }

  nav a:hover {
    text-decoration: underline;
    color: gray;
  }


  header .container {
    padding-top: 32.82px;
  }
  
  .titleblock,
  .about,
  .projects,
  .services {
    margin-bottom: 150px;
    width: 100%;
    max-width: 1150px;
}

.titleblock__header {
    width: 100%;
    max-width: 971px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
}

.title__image {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(./styles/style.css);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
}

.title__image-text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  height: 81px;
  font-size: 20px;
  line-height: 27.32px;
  color: white;
}

.title {
  margin-bottom: 30px;
  padding-left: 2px;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
}

.about__description {
  margin-bottom: 50px;
  width: 100%;
  max-width: 1048px;
  font-size: 43px;
  line-height: 61.47px;
  color: #121212;
}

.about__btn {
  width: 255px;
  height: 67px;
  padding: 20px 40px;
  background-color: #AD1818;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 27.32px;
  color: white;
}

.projects__project {
  margin-bottom: 90px;
}

.project__img {
  width: 100%;
  max-width: 1150px;
  margin-bottom: 15px;
}

.project__name {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 40.98px;
}

.project__more {
  padding-left: 2px;
  font-size: 20px;
  line-height: 27.32px;
  text-decoration: none;
  color: #AD1818;
}

.projects__btn {
  display: block;
  text-align: center;
  border: 1px solid #AD1818;
  border-radius: 5px;
  padding: 56px 0;
  width: 100%;
  font-size: 30px;
  line-height: 40.98px;
  text-decoration: none;
  color: #AD1818;
}

.services__wrapper {
  margin-bottom: 104px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  justify-content: space-between;
}
.services__service {
  position: relative;
  width: calc(50% - 5px);
  
}

.servicetitle {
  padding-top: 150px;
  color: white;
}

.services__img {
  margin-bottom: 25px;
  width: 100%;
  height: 388px;
  object-fit: cover;
}

.services__price {
  background-color: #AD1818;
  border-radius: 5px;
  position: absolute;
  left: 31px;
  top: 31px;
  padding: 5px 21px;
  font-size: 22px;
  line-height: 30.05px;
  color: white;
}

.services__name {
  font-size: 30px;
  line-height: 40.98px;
  color: white;
}

.services__btn {
  display: block;
  text-align: center;
  background-color: #AD1818;
  border-radius: 5px;
  padding: 56px 0;
  width: 100%;
  height: 153px;
  font-size: 30px;
  line-height: 40.98px;
  text-decoration: none;
  color: white;
}

@media (max-width: 1149px) and (min-width: 961px) {
  .titleblock,
  .about,
  .projects,
  .services {
    width: 100%;
    margin-bottom: 120px;
    padding: 0 15px;
  }

  .titleblock__header {
    max-width: 850px;
    font-size: 50px;
  }

  .about__description {
    max-width: 709px;
    font-size: 35px;
    line-height: 47.81px;
  }

}

@media (max-width: 960px) and (min-width: 768px) {
  .titleblock,
  .about,
  .projects,
  .services {
    width: 100%;
    padding: 0 12px;
  }

  .titleblock__header {
    width: 100%;
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 41.62px;
  }

  .title__image-text {
    width: 100%;
    max-width: 430px;
    min-width: 312px;
    left: 42px;
    bottom: 30px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19.12px;
  }

  .about__description {
    width: 70%;
    font-size: 22px;
    line-height: 30.05px;
  }

  .project__img {
    height: 350px;
    object-fit: cover;
  }

  .project__name {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34.15px;
  }

  .servicesblack {
    padding-bottom: 120px;
  }

  .services {
    margin-bottom: 0;
  }

  .services__price {
    padding: 7px 28px;
    font-size: 20px;
    line-height: 27.32px;
  }

  

}


@media (max-width: 767px) and (min-width: 501px) {
  .titleblock,
  .about,
  .projects,
  .services {
    width: 100%;
    margin-bottom: 80px;
    padding: 0 12px;
  }

  .services__wrapper {
    flex-direction: column;
    row-gap: 60px;
  }
  
  .services__service {
    width: 100%;
  }

  .services__btn {
    padding: 36px 0;
    height: 100px;
    font-size: 22px;
    line-height: 30.05px;
  }

  .servicetitle {
    padding-top: 80px;
  }
}

@media (max-width: 500px) {
  .titleblock,
  .about,
  .projects {
    width: 100%;
    margin-bottom: 80px;
    padding: 0 12px;
  }

  .services {
    width: 100%;
    margin-bottom: 80px;
    padding: 0 21px 15px;
  }

  .titleblock__header {
    max-width: 346px;
    font-size: 30px;
    line-height: 31.62px;
  }

  .title__image-text {
    left: 15px;
    bottom: 15px;
    max-width: 312px;
    height: 88px;
    font-size: 16px;
    line-height: 21.86px;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19.12px;
  }

  .about__description {
    margin-bottom: 44.5px;
    font-size: 22px;
    line-height: 30.05px;
  }

  .about__btn {
    width: 194px;
    height: 51px;
    font-size: 16px;
    line-height: 21.86px;
  }

  .projects__project {
    margin-bottom: 49px;
  }

  .project__img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    
  }

  .project__name {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24.59px;
  }

  .project__more {
    font-size: 16px;
    line-height: 21.86px; 
  }

  .projects__btn {
    max-height: 100px;
    vertical-align: middle;
    padding: 37px 0;
    font-size: 22px;
    line-height: 30.05px;
  }

  .servicesblack {
    padding-bottom: 80px;
  }

  .services__wrapper {
    flex-direction: column;
    row-gap: 60px;
  }

  .services__service {
    width: 100%;
  }

  .services__name {
    font-size: 18px;
    line-height: 24.59px;
  }

  .services__price {
    font-size: 14px;
    line-height: 19.12px;
  }

  .services__btn {
    padding: 36px 0;
    height: 100px;
    font-size: 22px;
    line-height: 30.05px;
  }

  .servicetitle {
    padding-top: 80px;
  }

}
